body {
	font-family:Georgia, "Times New Roman", Times, serif;
}

p, ul {
	color:#333;
}

p {
	font-size:16px;
}

a {
	color:#52cbba;
	text-decoration:none;
}

a:hover {
	color:#666;
	cursor:pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	color:#666158;
}

h2 {
	font-size:28px;
}

h3 {
	font-size:16px;
}

.header {
	margin-top:9px;
	margin-bottom:9px;
	border-bottom:1px solid #ccc;
}

.market_main_nav .main_category a {
	text-decoration:none;
	border-left:solid 1px #ccc;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	width:74px;
	display:block;
	float:left;
	text-align:center;
	color:#666;
	font-family:georgia;
	font-size:16px;
	padding:12px;
}

.market_main_nav .main_category a:hover {
	color:#52cbba;
	border-color:#ccc;
}

.market_main_nav .main_category a.selected {
	text-decoration:none;
	background:url(../../images/market/stripes.gif) repeat;
	border-color:#ccc;
}

.main_cart, .main_search, .main_account {
	float:left;
}

.main_cart {
	width:88px;
	text-align:center;
	color:#666;
	font-family:georgia;
	font-size:16px;
	padding:12px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.main_cart a {
	color:#666;
}

.main_cart a:hover {
	text-decoration:none;
	color:#52cbba;	
}

.main_search_account_wrapper {
	border:1px solid #ccc;
	float:left;
}

.main_search {
	width:140px;
	text-align:left;
	padding-top:12px;
	padding-left:12px;
	padding-bottom:12px;
	height:24px;
}

.main_search .search_input {
	width:84px;
	color:#52cbba;
	font-family:verdana;
	font-size:11px;
	border:1px solid #ccc;
	padding:4px;
	margin:0;
}

.main_account {
	width:90px;
	text-align:left;
	color:#666;
	font-family:verdana;
	font-size:11px;
	line-height:12px;
	padding:12px;
}

.sub_category_bar {
	background-color:#52cbba;
	float:left;
	width:973px;
	height:24px;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	margin-bottom:9px;
}

.sub_category_bar ul.sub_category_nav {
	margin-top:4px;
	margin-left:10px;
}

ul.sub_category_nav, ul.sub_category_nav li {
	display:inline-block;
	list-style-type:none;
	margin:0 10px 0 10px;
}

ul.sub_category_nav a {
	color:#fff;
	padding:2px;
	text-decoration:none;
	font-family:verdana;
	font-weight:normal;
	font-size:11px;
	text-transform:uppercase;
}

ul.sub_category_nav a:hover {
	color:#666;
}

ul.sub_category_nav a.selected {
	color:#666;
}

/* @group header bar */

.header_bar {
	background-color:#eee;
	width: 100%;
	padding: 3px 0;
	color:#666;
}

.header_bar a {
	color:#000;
	padding:2px;
}

.header_bar a:hover {
	color:#fff;;
	background-color:#333;
	text-decoration:none;
}

/* @end */
/* @group store */

.span-24.store_header {
	margin-bottom:18px;
}

.ampersand_logo {
	width:100px;
	height:100px;
	margin-right:9px;
	background-color:gray;
	float:left;
	overflow:hidden;
}

.store_banner_image {
	width:866px;
	height:100px;
	float:left;
	text-align:center;
	background-color:#eee;
}

.store_banner_text {
	width:864px;
	height:98px;
	float:left;
	border:1px solid #ccc;
	background:url(../../images/market/stripes.gif) repeat;
}

.store_banner_text h2 {
	width:100%;
	text-align:center;
	margin-top:24px;
}

.seller_info_wrapper {
	width:223px;
	border:1px solid #ccc;
	float:left;
	padding:6px;
	font-family:verdana;
}
.seller_info_wrapper p {
	font-size:12px;
}

.seller_info_icon {
	float:left;
	width:65px;
	height:65px;
	background-color:gray;
	margin-right:9px;
}
.seller_info_nav {
	width:100px;
	float:left;
	clear:left;
}
.seller_info_nav a.selected, .seller_info_sets a.selected {
	color:#666;
}
.seller_info_sets {
	width:100px;
	float:left;
	clear:left;
}
.seller_info_send_message {
	width:200px;
	float:left;
	clear:left;
}

.profile_text p {
	font-size:18px;
	padding-right:100px;
}

/* @end */

/* @group product */
.product_wrapper {
	margin-top:18px;
	margin-bottom:24px;
}

h1.product_name {
	font-size:28px;
	color:#52cbba;
	margin-top:18px;
}

.product_image_caption {
	font-size:10px;
	font-family:verdana;
	padding:6px;
}

.product_commerce .price {
	font-size:28px;
	width:177px;
	display:block;
	float:left;
	margin-left:48px;
	color:#666;
}

.external_price {
	font-size:28px;
	width:177px;
	float:left;
	margin-left:14px;
	color:#666;
}

.base_price {
	float: left;
	color:#666;
	padding-top: 17px;
	padding-left: 14px;
	margin-right: -7px;
}

.external_link {
	font-size:24px;
	width:218px;
	background-color:#fff;
	padding-top:6px;
	padding-bottom:6px;
	display:block;
	float:left;
	margin-bottom:9px;
	margin-left:14px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.product_commerce .product_commerce_add {
	width:218px;
	background-color:#fff;
	padding-top:6px;
	padding-bottom:6px;
	display:block;
	float:left;
	margin-bottom:9px;
	margin-left:9px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.product_shipping_destinations h6, .product_shipping_note h6, .product_tags h6 {
	font-size:16px;
	display:inline;
}

.product_shipping_destinations p, .product_shipping_note p, .product_tags p {
	display:inline;
	margin-bottom:0;
}

.shipping_destinations_liner, .shipping_note_liner {
	float:left;
	padding-left:14px;
	padding-right:18px;
}

.product_option_select {
	width:220px;
	padding:6px;
	font-size:16px;
	margin-top:18px;
}
.out_of_stock_panel {
	margin-bottom:9px;
	background-color: #eee;
}
.out_of_stock_panel img {
	vertical-align:middle;;
}
.out_of_stock_panel_liner {
	padding:6px 18px 9px 14px;
}
.out_of_stock_header {
	color:#666;
}
.out_of_stock_header_all .header_all_text {
	font-size:28px;
	color:#666;
}
.out_of_stock_header_all .header_all_list_label {
	color:#666;
}
.out_of_stock_panel_subhead {
	font-size:14px;
	font-weight:bold;
}
.out_of_stock_item {
	height: 20px;
	text-transform: lowercase;
}
.out_of_stock_panel img {
	vertical-align: top;
}
.favorite_panel, .share_panel {
	margin-bottom:9px;
}
.favorite_panel_liner, .share_panel_liner {
	padding:0px 18px 0px 14px;
}
.favorite_panel a, .share_panel a {
	color:#52cbba;
	text-decoration:none;
}
.favorite_panel a:hover, .share_panel a:hover {
	color:#666;
	background-color:#fff;
}
.share_link_wrapper {
    width:96px;
    float:left;
    margin-right:6px;
}
.product_assets a {
	color:#52cbba;
	float:left;
	clear:left;
}
.product_assets a:hover {
	color:#666;
}
.favorites_anonymous {
	float:left;
	height:58px;
	width:112px;
	padding:6px;
	background-color:#52cbba;
	color:#fff;
}
.product_favorites .avatar img {
	border:2px solid #52cbba;
}
.product_visuals_wrapper {
	border:1px solid #ccc;
	padding:9px;
	margin-bottom:9px;
}
.visual_asset table, .visual_asset td {
	text-align:center;
	margin:0px;
	padding:0px;
	height:438px;
}
.visual_asset td img {
	vertical-align:middle;
}
.thumb_arrow_wrapper {
	float:left;
	width:24px;
	height:69px;
	display:block;
}
.product_thumbs img {
	border:2px solid #fff;
}
.product_thumbs img:hover {
	border:2px solid #52cbba;
	cursor:pointer;
}
.product_thumbs .thumb_left, .product_thumbs .thumb_right {
	margin-top:12px;
	font-size:24px;
	width:21px;
}
.product_thumbs .thumb_left a, .product_thumbs .thumb_right a {
	padding:4px;
	color:#999;
	text-decoration:none;
}
.product_thumbs .thumb_left a:hover, .product_thumbs .thumb_right a:hover {
	color:#52cbba;
	cursor:pointer;
}
.product_thumbs .thumb_left {
	text-align:left;
}
.product_thumbs .thumb_right {
	text-align:right;	
}


/* @end */
/* @group product page tabs */
.product_page_tabs {
	float:left;
}
.product_page_tabs a {
	display:block;
	float:left;
	width:102px;
	padding:6px;
	margin-right:2px;
	background-color:#f0f2e5;
	text-decoration:none;
	color:#666158;
}
.product_page_tabs a:hover {
	background-color:#52cbba;
	color:#fff;
	cursor:pointer;
}
.product_page_tabs a.selected {
	background-color:#ccc;
	color:#666158;
}
.product_tabbed_contents {
	margin-bottom:18px;
}
.product_tabbed_contents p {
	color:#666158;
	font-size:12px;
	width:400px;
}
.product_tabbed_contents_wrapper {
	border:1px solid #ccc;
	padding:9px;
	float:left;
	width:709px;
}
/* @end */
/* @group product panels */
.product_panel {
	background-color:#fff;
	height:280px;
	margin-bottom:9px;
}

.product_panel a.product img {
	border:2px solid #fff;
}

.product_panel a.product:hover img {
	border-bottom:2px solid #52cbba;
}

.product_panel .product_price {
	display: none;
	position: absolute;
	top: 35px;
	right: 98px;
	width: 130px;
	height: 40px;
	background-image:url(../../images/market/price.png);
}

.product_panel_wrapper .product_price {
	display: none;
	position: absolute;
	top: 25px;
	right: 105px;
	width: 130px;
	height: 40px;
	background-image:url(../../images/market/price.png);
}

.product_panel .product_price p {
	display: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;
	padding-top: 8px;
	padding-left: 10px;
}

.product_panel_wrapper .product_price p {
	display: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;
	padding-top: 8px;
	padding-left: 10px;
}


.product_panel h3 {
	font-size:30px;
	width:192px;
	color:#333;
}

.product_panel h4.product_panel_product_name {
	font-size:16px;
	margin-top:6px;
	margin-bottom:0;
	margin-left:0;
}

.product_panel h4.product_panel_product_name a {
	color:#666;
}

.product_panel h4.product_panel_product_name a:hover {
	color:#52cbba;
}

.product_panel h6.product_panel_seller_name {
	font-size:16px;
	font-style:italic;
	margin-left:0;
	color:#52cbba;
}

/* @end */
/* @group sidebar */

.sidebar {
	margin-bottom:18px;
}
.sidebar_wrapper_product {
	margin-top:0px;
}
.sidebar_liner {
	border:1px solid #ccc;
	float:left;
	width:220px;
	padding:8px;
}
.sidebar a {
	color:#52cbba;
}
.sidebar a:hover {
	color:#666;
}
.sidebar_panel {
	background-color:#fff;
	border-top:1px solid #ccc;
	margin-bottom:9px;
	float:left;
	width:208px;
	padding-top:9px;
	padding-left:6px;
	padding-right:6px;
}
.sidebar_panel_cart {
	font-size:12px;
	background-color:#fff;
	float:left;
	width:208px;
	padding-top:9px;
	padding-left:6px;
	padding-right:6px;
	border-top:1px solid #ccc;
}
.sidebar_panel_cart p {
	font-size:12px ! important;
}
.sidebar_panel_cart_top {
	font-size:12px;
	background-color:#ffffcc;
	margin-bottom:18px;
	float:left;
	width:208px;
	padding-top:9px;
	padding-left:6px;
	padding-right:6px;
}
.sidebar_panel_cart_top p {
	font-size:12px ! important;
}
.sidebar_panel_cart_bottom {
	font-size:12px;
	background-color:#fff;
	margin-bottom:9px;
	float:left;
	width:208px;
	padding-top:9px;
	padding-bottom:9px;
	padding-left:6px;
	padding-right:6px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.sidebar_panel.user_info {
	border-top:0;
}
.sidebar h4 {
	margin-bottom:0;
	color:#666;
}
.sidebar_panel img {
	margin-top:3px;
}
.sidebar_panel a.avatar img {
	border-top:2px solid #fff;
}
.sidebar_panel a:hover.avatar img {
	border:2px solid #52cbba;
}
.sidebar_panel ul {
	list-style-type:none;
	margin:0;
}
.sidebar_panel.store_description p, .sidebar_panel p {
	font-size:12px;
	margin-bottom:0;
}

/* @end */
/* @group seller */
.profile_wrapper {
	margin-bottom:48px;
}
.profile_wrapper a {
	color:#52cbba;
}
.profile_wrapper a:hover {
	color:#666;
}
.profile_header {
	margin-bottom:18px;
}
.profile_header h1 {
	color:#52cbba;
	font-weight:normal;
	font-size:24px;
}
.profile_text p {
	font-size:16px;
	padding-right:100px;
}
.panel {
	border-top:1px solid #ccc;
}
.panel h3 {
	padding-top:6px;
	color:#333;
}
.panel_header h3 a {
	text-transform:lowercase;
}
.panel_group {margin-bottom:18px;}
.tags_panel a {
	color:#666;
	background-color:#ccc;
	padding:2px;
	display:block;
	float:left;
	text-decoration:none;
	margin-right:4px;
	margin-bottom:4px;
}
.tags_panel a:hover {
	color:#fff;
	background-color:#52cbba;
}
/* @end */
/* @group seller list */
.seller_list_item {
	margin-bottom:9px;
	padding-bottom:9px;
	border-bottom:2px solid #eee;
}
.seller_list_item a {
	color:#52cbba;
	text-decoration:none;
}
.seller_list_item a:hover {
	color:#666;
}
.seller_list_item a img {
	border:2px solid #fff;
}
.seller_list_item a:hover img {
	border-color:#52cbba;
}
/* @end */
/* @group pagination */
.pagination {
	float:left;
	clear:left;
	font-size:16px;
	margin-bottom:18px;
	width:100%;
}
.pagination span.disabled {
	color:#fff;
	padding:2px 4px 2px 4px;
	background-color:#ccc;
}
.pagination span.current {
	color:#fff;
	padding:2px 4px 2px 4px;
	background-color:#52cbba;
}
.pagination a {
	color:#52cbba;
	padding:2px 4px 2px 4px;
	text-decoration:none;
}
.pagination a:hover {
	color:#666;
}

/* @end */

/* @group footer */

.footer {
	border-top:1px solid #ccc;
	padding-top:18px;
	margin-top:18px;
	margin-bottom:12px;
}

.footer p {
	font-family:verdana;
	font-size:11px;
	line-height:12px;
	color:#666158;
}

.footer h2 {
	margin-bottom:6px;
	margin-top:0;
	line-height:30px;
}

.footer h3 {
	margin-bottom:3px;
}

.footer a {
	color:#52cbba;
	text-decoration:none;
}
.footer a:hover {
	color:#666;
}
.footer h2 a {
	color:#666;
}
.footer h2 a:hover {
	color:#52cbba;
}
.footer input.subscribe_input {
	color:#46b9ae;
	font-family:verdana;
	font-size:11px;
	border:1px solid #ccc;
	padding:4px;
}

.footer .footer_lastline {
	margin-top:18px;
}

.footer .footer_lastline img {
	vertical-align:middle;
}

/* @end */
/* @group public forms */

.public_form_explanation, .public_form_items, .public_help {
	margin-top:36px;
	font-size:13px;
}

.public_form_explanation a, .public_form_items a {
	color:#52cbba;
}

.public_form_items a {
	font-size:13px;
}

.public_form_explanation a:hover, .public_form_items a:hover {
	color:#666;
}

.public_form_explanation h1 {
	font-weight:normal;
	font-size:48px;
	color:#52cbba;
}

.public_help {
	background-color:#eee;
	padding:9px;
}

/* @end */

/* @group signup */
.form_alertbox {
	padding: 5px;
	padding-right: 7px;
	background-color: #ffffcc;
	margin-bottom:18px;
}
.form_optin {
	padding: 5px;
	margin-bottom:10px;
}
/* @end */

/* @group dashboard */
body.dashboard .header_bar {
	background-color:#fff;
}
body.dashboard {
	background-color:#f0f2e5;
}
/* @group dashboard main */
.dashboard_main {
	background-color:#fff;
}
.dashboard_main p {
	font-size:12px;
}
.dashboard_main a {
	color:#52cbba;
	text-decoration:underline;
}
.dashboard_main a:hover {
	color:#000;
}
.welcome_message h1 {
	font-size:36px;
}
.welcome_message {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-bottom:18px;
}
/* @end */
/* @group dashboard nav */
div.dashboard_nav a {
	background:#fff url(../../images/nav_shadow.gif) no-repeat 99px;
}
div.dashboard_nav ul li a {
	text-decoration:none;
	font-family:georgia;
	font-size:14px;
	color:#666;
}
div.dashboard_nav ul li ul li a {
	font-size:12px;
	font-weight:normal;
}
div.dashboard_nav ul li a:hover {
	color:inherit;
}
div.dashboard_nav ul li a.selected {
	color:#52cbba;
}
div.dashboard_nav ul li ul li a.selected {
	font-weight:bold;
	color:#666;
}
div.dashboard_nav ul {
	font-size: 16px;
	font-weight: bold;
}
div.dashboard_nav li {
	border-bottom:2px solid #eee;
	border-right:1px solid #eee;
}
div.dashboard_nav li.dashboard_nav_label {
	background-color:#52cbba;
	margin-left:0;
	padding-left:9px;
	color:#fff;
	border-right:1px solid #52cbba;
	border-bottom:1px solid #52cbba;
	font-weight:normal;
	font-size:12px;
}
/* @end */
/* @group dashboard panels */
	.panel_description, .panel_description p{
	font-weight:bold;
	color:#666;
}
/* @end */
/* @group dashboard lists */
.list_header {
	background-color:#52cbba;
	color:#333;
	font-family:verdana;
	font-size:10px;
	font-weight:bold;
}
.list_header a {
	color:#333;
	font-family:verdana;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
}
.list_header a:hover {
	color:#fff;
}
.list_header a.selected {
	background:url(../../images/market/header_sort_down.gif) no-repeat right;
	padding-right:14px;
}
.list_header a.selected_descending {
	background:url(../../images/market/header_sort_up.gif) no-repeat right;
	padding-right:14px;
}
.list_item {
	border-bottom:1px solid #ddd;
	background-color:#fff;
}
.list_item_new {
	background-color:#52cbba;
}
.list_item_new a {
	color:#666;
}
.list_item_new h3 {
	color:#fff;
}
.list_item_new label, .editing label {
	font-family:verdana;
	font-size:10px;
	color:#333;
}
div.dashboard_list_tabs a {
	font-family:verdana;
	font-size:11px;
	color:#52cbba;
	text-decoration:none;
	font-weight:bold;
	border-top:1px solid #f0f2e5;
	border-left:1px solid #f0f2e5;
	border-right:1px solid #f0f2e5;
}
.dashboard_list_tabs a:hover {
	background-color:#f0f2e5;
}
.dashboard_list_tabs a.selected {
	background-color:#52cbba;
	border-color:#52cbba;
	color:#333;
}
/* @end */
/* @group dashboard page tabs */
div.dashboard_page_tabs a, div.dashboard_product_tabs a, div.dashboard_product_tabs span {
	font-family:verdana;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
	border-top:1px solid #f0f2e5;
	border-left:1px solid #f0f2e5;
	border-right:1px solid #f0f2e5;
}
div.dashboard_page_tabs a, div.dashboard_product_tabs a {
	color:#52cbba;
}
div.dashboard_product_tabs span {
	color:#aaa;
}
.dashboard_page_tabs a:hover, .dashboard_product_tabs a:hover {
	background-color:#f0f2e5;
}
.dashboard_page_tabs a.selected, .dashboard_product_tabs a.selected {
	background-color:#f0f2e5;
	border-bottom:1px solid #f0f2e5;
	color:#333;
}
.product_step_arrow {
	color:#999;
}
.dashboard_tabbed_contents {
	background-color:#f0f2e5;
}
.dashboard_tabbed_contents .tab_description {
	color:#666;
}
.dashboard_tabbed_contents .panel_show {
	background-color:#fff;
}
/* @end */
/* @group featured products */
.featured_products_wrapper {
	border:1px dotted #666;
	min-height:200px;
	background-color:#d6eda6;
	width:301px;
	padding:9px;
}
.non_featured_products_wrapper {
	border:1px dotted #666;
	min-height:200px;
	width:465px;
	padding:9px;
}
.featured_products_wrapper, .non_featured_products_wrapper {
	float:left;
}
.featured_products_wrapper h3 {
	color:green;
}
.featured_product_list img.thumb, .non_featured_product_list img.thumb {
	border-color:#666;
}
/* @end */
/* @group help hover */
.help_hover_content {
	padding:9px;
	background-color:#333;
	color:#fff;
}
.help_hover_content h6 {
	color:#52cbba;
	font-weight:bold;
}
.help_hover_content a {
  color:#52cbba;
}
.help_hover_content a:hover {
  color:#999;
}
/* @end */
/* @group help slider */
.help_content {
	color:#fff;
	background:#333 url(../images/market/help_slider_shadow.gif) repeat-x 0 bottom;
}
.help_content h1, .help_content h2, .help_content h3, .help_content h4, .help_content h5, .help_content h6 {
	color:#fff;	
}
.help_content a {
	color:#52cbba;
}
.help_content a:hover {
	color:#fff;
}
.help_form_input {
	margin-left:18px;
}
/* @end */
/* @end */


/* @group faq */
.faq_product .faq_question_answer {
	width:483px;
	margin-bottom:18px;
	border-bottom:2px solid #999;
}
.faq_product .faq_question p {
	font-weight:bold;
	font-size:14px;
	margin-bottom:9px;
}
.faq_product .faq_answer {
	
}
.faq_seller .faq_question_answer {
	width:729px;
	margin-bottom:18px;
	border-bottom:1px solid #ccc;
}
.faq_seller .faq_question p {
	font-weight:bold;
	font-size:14px;
	margin-bottom:9px;
}
.faq_seller .faq_header h1 {
	color:#52cbba;
	font-weight:normal;
	font-size:18px;
	margin-top:6px;
}
.faq_seller .faq_header_liner {
	width:729px;
	border-top:1px solid #ccc;
}
.faq_market .faq_question_answer {
	width:729px;
}
.faq_market .faq_question p {
	font-weight:bold;
	font-size:18px;
	margin-bottom:9px;
	color:#000;
}
.faq_market .faq_answer {
	margin-bottom:24px;
	float:left;
}
.faq_market .faq_answer p {
	font-size:12px;
}
.faq_market .faq_answer a {
	color:#52cbba;
}
.faq_market .faq_header, .page_header {
	padding-bottom:18px;
	padding-top:18px;
	float:left;
}
.faq_market .faq_header_liner, .page_header_liner {
	width:974px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.faq_market .faq_header h1, .page h1 {
	color:#52cbba;
	font-weight:normal;
	font-size:24px;
	margin:12px 12px 12px 4px;
}
.faq_nav h6 {
	font-size:14px;
	color:#52cbba;
}
.faq_nav_liner {
	margin-right:40px;
	margin-left:4px;
	padding-top:6px;
}
.faq_nav h6 {
	padding-left:2px;
}
.faq_nav ul {
	list-style-type:none;
	margin-left:0;
}
.faq_nav ul a {
	padding:2px;
	text-decoration:none;
	color:#666;
}
.faq_nav ul a.selected {
	color:black;
}
.faq_nav ul a:hover {
	color:#52cbba;
}
.faq_footer {
  float:left;
	background-color:#eee;
}
.faq_footer_wrapper {
	padding:9px;
}
.faq_return_to_top a {
	font-size:12px;
	color:#666;
}
.faq_return_to_top a:hover {
	color:#52cbba;
}
.faq_footer a {
	color:#52cbba;
}
.faq_footer a:hover {
	color:#666;
}
.faq_title h2, .faq_main_column h2 {
	color:#52cbba;
	font-weight:normal;
	font-size:24px;
}
.faq_question_nav {
	margin-bottom:36px;
}
.faq_question_nav ul {
	list-style-type:none;
	margin-left:0;
	font-size:14px;
}
.faq_question_nav a {
	color:#666;
}
.faq_question_nav a:hover {
	color:#52cbba;
}
.faq_answer h4 {
	color:#52cbba;
	font-weight:normal;
	font-size:18px;
}
.faq_title h4 {
	font-weight:normal;
	font-size:18px;
	margin-bottom:9px;
}
.faq_title a {
	color:#666;
}
.faq_title a:hover {
	color:#52cbba;
}
ul.faq_list {
	list-style-type:none;
	margin-left:0;
	margin-right:0;
	margin-bottom:18px;
}
ul.faq_list a {
	font-size:18px;
	color:#52cbba;
}
/* @end */

/* @group avatars */

a img.thumb {border:2px solid #fff;}
a:hover img.thumb {border-color:#52cbba;}

/* @end */


/* @group sitemap */

.sitemap #category-wrapper {
	float: left;
	width: 120px;
	margin-left: 30px;
}

.sitemap ul {
	list-style-type:none !important;
	line-height: 20px;
	margin: 0;
	padding: 0;
}
.sitemap ul a {
	text-decoration:none;
	color:#666;
}
.sitemap ul a:hover {
	color:#52cbba;
}

/* end */

/* @group blog */

.blog_primary_wrapper {
	margin-bottom:18px;
}

.post {
	border-top:1px solid #aaa;
	padding-top:6px;
	margin-bottom:60px;
}

.post a {
	color:#000;
}

.post h2 {
	font-size:18px;
	margin-bottom:0px;
}

.post .comment_count {
	margin-top:6px;
	text-align:right;
}

.post .caption, .comment .caption, .list_item .caption {
	margin-top:6px;
	padding:9px;
	color:#333;
	border:1px solid #ddd;
}

.post .post_footer {
	background-color:#eee;
}

.post_footer .post_meta {
	float:left;
	width:311px;
	margin-right:9px;
}

.post_footer .post_meta img, .comment_meta img {
	float:left;
	margin-right:9px;
}

.post_footer .author_name, .post_footer .post_date, .comment_meta .author_name, .comment_meta .post_date {
	margin:0;
}

.post_footer .categories_more {
	float:left;
	width:266px;
	text-align:right;
}

.blog_categories {
	border-top:1px solid #999;
}
.blog_categories ul {
	list-style-type:none;
	margin:0;
	font-size:24px;
}
.blog_categories a {
	color:#666;
}
.blog_categories a:hover {
	color:#52cbba;
}
.blog_categories a.selected {
	color:#52cbba;
}
.blog_rss {
	height: 14px;
	font-size: 12px;
	font-weight: bold;
	border: 0;
	margin-top: 8px;
}
.blog_rss a {
	color:#666;
	text-decoration:none;
}
.comment, .list_item_comment {
	border-top:1px solid #aaa;
	padding-top:8px;
	min-height:96px;
	margin-bottom:12px;
}

h3.featured_comments_header, h3.all_comments_header {
	margin-bottom:6px;
	font-weight:normal;
	color:#52cbba;
}
.featured_comment {
	background-color:#ffffcd;
}
.comment_tools {
	margin-top:13px;
}
.comment_tools a.feature {
	padding:2px;
	background-color:#52cbba;
	color:#fff;
	text-decoration:none;
}
.comment_tools a.unfeature {
	padding:2px;
	background-color:#666;
	color:#fff;
	text-decoration:none;
}
.comment_tools a:hover.feature, .comment_tools a:hover.unfeature {
	color:#fff;
	background-color:black;
}
.post a, .comment a, .comment_login a {
	color:#52cbba;
}

.post a:hover, .comment a:hover, .comment_login a:hover {
	color:#666;
}

.comment p {
	font-size:12px;
}

.comments_wrapper {
	float:left;
	background-color:#eee;
	width:606px;
	margin-top:18px;
}

ul.comment_tabs {
	list-style-type:none;
	margin:0;
}

ul.comment_tabs li {
	display:inline;
}

ul.comment_tabs a {
	padding:4px 4px 2px 4px;
	color:#999;
	background-color:#ddd;
}

ul.comment_tabs a:hover {
	color:#000;
}

ul.comment_tabs a.selected {
	background-color:#fff;
	color:#000;
	text-decoration:none;
}

.comment_input {
	background-color:#fff;
	float:left;
	padding:9px;
}

.comment_input a {
	color:#333;
}

.comment_input a:hover {
	color:#000;
}

.comment_input ul {
	color:#666;
	font-size:12px;
	margin:3px 3px 9px 12px;
}

.comment_textarea {
	height:176px;
	margin-bottom:9px;
}

.comment_caption_input {
	height:100px;
	margin-bottom:9px;
}

.comment_image_uploading {
	width:420px;
}

.comment_preview {
	color: #514721;
	background-color: #FFF6BF;
}

.comment_preview p {
	width:358px;
	font-size:12px;
}

.comment_preview .caption {
	width:340px;
	margin-top:6px;
	padding:9px;
	color:#333;
	border:1px solid #999;
}

.comment_preview .edit_notice p {
	width:588px;
}

.comment_login {
	background-color:#eee;	
}

/* @end */
/* @group store nav */
ul.store_nav {
	margin:0 0 0 0;
	float:left;
	list-style-type:none;
	font-family:georgia;
}

ul.store_nav li{
	display:block;
}
ul.store_nav a {
	font-size:16px;
	text-decoration:none;
	width:214px;
	display:block;
	height:24px;
	padding-left:6px;
	float:left;
	text-transform:lowercase;
}
ul.store_nav a:hover {
	color:#fff;
	background-color:#52cbba;
	text-decoration:none;
}
ul.store_nav a.selected {
	padding-left:6px;
	color:#666;
}

ul.store_sub_nav {
	float:left;
	list-style-type:none;
	margin-bottom:0;
}

ul.store_sub_nav li {
	display:block;
	margin-bottom:9px;
}

ul.store_sub_nav a {
	font-size:13px;
	background-color:#fff;
	display:block;
	width:182px;
	height:18px;
	padding:2px 10px 2px 10px;
}

ul.store_sub_nav a:hover {
	color:#fff;
	background-color:#52cbba;
}

ul.store_sub_nav a.selected {
	background-image:none;
	color:#666;
	width:182px;
	padding:2px 10px 2px 10px;
}
/* @end */
/* @group cart */
.cart_header {
	float:left;
	width:975px;
}
.cart_header_liner {
	float:left;
	width:975px;
	border-top:1px solid #ccc;
}
.cart_header a:hover {
	text-decoration:underline;
	color:#52cbba;
}
h1.cart_header_headline {
	float:left;
	color:#52cbba;
	font-size:28px;
	margin-top:7px;
	margin-right:12px;
	margin-left:6px;
}
.cart_header_counter {
	float:left;
	color:#666;
	font-size:28px;
	width:516px;
	margin-bottom:0;
}
.cart_header_continue {
	float:left;
	width:310px;
	text-align:right;
	color:#666;
	font-size:28px;
	margin-left:10px;
	margin-bottom:0;
}

.cart_seller_wrapper {
	margin-top:9px;
	margin-bottom:24px;
}

.cart_seller_wrapper a {
	color:#52cbba;
	text-decoration:underline;
}

.cart_seller_wrapper a:hover {
	color:#666;
}
.cart_seller_wrapper .list_header {
	background-color:#eee;
	font-size:12px;
	color:#666;
}
.cart_seller_wrapper .cart_seller_name {
	font-size:14px;
	margin-left:9px;
}
.cart_column_label, .cart_column_content {
	font-family:verdana;
	font-size:11px;
	color:#666;
}
.cart_subtotal_label, .cart_shipping_total_label, .cart_total_label, .cart_subtotal_content, .cart_shipping_total_content, .cart_total_content {
	font-family:verdana;
	font-size:11px;
}
.cart_total_label, .cart_total_content {
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:6px;
}
.cart_shipping_address_label {
	font-family:verdana;
	font-size:11px;
	font-weight:bold;	
}
.cart_seller_wrapper .list_item {
	background-color:#fff;
	font-weight:bold;
	color:#333;
}
.cart_seller_wrapper .list_footer {
	font-size:12px;
	background-color:#fff;
	color:#666;
	border-bottom:1px solid #ccc;
	margin-bottom:9px;
}
.cart_seller_wrapper .list_footer select {
	margin: 8px 0 8px 0;
}
.cart_seller_wrapper .list_footer label {
	display:block;
	margin:8px 0 0 0;
	font-weight:normal;
}
.cart_seller_wrapper .editing .list_item {
	color: #514721;
	background-color: #FFF6BF;
}
.cart_shipping_address p {
	font-family:verdana;
	font-size:11px;
	color:#666;
}
.cart_checkout_bar {
	background-color:#fff;
	text-align:center;
	height:36px;
	margin-top:12px;
	border-top:1px solid #ddd;
}
.cart_checkout_wrapper {
	background-color:#fff;
	padding-top:9px;
	width:700px;
}
.cart_checkout_wrapper img {
	vertical-align:middle;
}
.cart_seller_wrapper .list_item {
	color:#666;
	font-family:verdana;
}
.carterror {
	background:#FBE3E4 !important;
	color:#8a1f11;
	border-color:#eee
}
/* @end */

/* @group search */
.search_header {
	margin-bottom:12px;
}
.search_header_liner {
	border-bottom:1px solid #ccc;
	padding:0 9px 9px 9px;
}
.search_header h3 {
	color:#52cbba;
	font-weight:normal;
	margin-bottom:0;
}
.search_header .search_term {
	color:#666;
}
.search_result_group {
	border-bottom:1px solid #ccc;
	margin-bottom:18px;
	padding-bottom:18px;
}
.search_result_group h3 {
	font-weight:normal;
	color:#52cbba;
	margin-left:9px;
}
.search_result_blog_posts_wrapper, .search_result_tags_wrapper {
	margin-left:9px;
	margin-right:9px;
	float:left;
}
.search_result_group a.tag_link {
	font-size:32px;
	color:#666;
	background-color:#ccc;
	padding:2px;
	display:block;
	float:left;
	text-decoration:none;
	margin-right:4px;
	margin-bottom:4px;
}
.search_result_group a.tag_link:hover {
	color:#fff;
	background-color:#52cbba;
}
/* @end */
/* @group widgets public*/
.public_widget_section .span-24 {
	margin-bottom:9px;
}
.public_widget {
	margin-bottom:9px;
	overflow:hidden;
}
.public_widget_side {

}
.public_widget_top {
	height:270px;
}
.cc_unit_widget_liner {
	position:relative;
	background-color:#fff;
}
.public_widget a {
	color:#333;
	text-decoration:none;
}
.public_widget a:hover {
	color:#52cbba;
}
.widget_header {
	width:100%;
	height:30px;
	border-top:1px solid #ccc;
}
.widget_header h4 {
	padding:6px 6px 6px 12px;
	color:#666;
	font-size:16px;
	text-transform:capitalize;
}
.paging_wrapper_1, .paging_wrapper_2, .paging_wrapper_3, .paging_wrapper_4, .paging_wrapper_5 {
	height:222px;
	position:relative;/*could be core style*/
	float:left;/*could be core style*/
}
.paging_wrapper_1 {
	width:224px;
}
.paging_wrapper_2 {
	width:469px;
}
.paging_wrapper_3 {
	width:715px;
}
.paging_wrapper_4 {
	width:961px;
}

.page_mask_1, .page_mask_2, .page_mask_3, .page_mask_4, .page_mask_5 {
	overflow:hidden;/*could be core style*/
	position:absolute;/*could be core style*/
}
.page_mask_1 {
	width:237px;
}
.page_mask_2 {
	width:483px;
}
.page_mask_3 {
	width:729px;
}
.page_mask_4 {
	width:975px;
}
.widget_page_wrapper {
	height:216px;
	position:absolute;
	left:0px;
	top:0px
}
.widget_paging_controls {
	background-color:#fff;
	height:16px;
	position:absolute;
	bottom:0px;
	border-top:1px solid #ccc;
}
.cc_unit_1 .widget_paging_controls {
	width:235px;
}
.cc_unit_2 .widget_paging_controls {
	width:481px;
}
.cc_unit_3 .widget_paging_controls {
	width:727px;
}
.cc_unit_4 .widget_paging_controls {
	width:973px;
}
.widget_paging_controls a, .activity_widget_product .widget_paging_controls a, .activity_widget_blog .widget_paging_controls a {
	color:#ccc;
	text-decoration:none;
}
.widget_paging_controls a:hover, .activity_widget_product .widget_paging_controls a:hover, .activity_widget_blog .widget_paging_controls a:hover {
	color:#52cbba;
}
.widget_page_prev {
	position:absolute;
	left:0;
	padding-left:12px;
}
.widget_page_next {
	position:absolute;
	right:0;
	padding-right:12px;
}
.widget_page_panel_liner {
	float:left;
	overflow:hidden;
}
.widget_page_panel_liner_1,.widget_page_panel_liner_2,.widget_page_panel_liner_3,.widget_page_panel_liner_4,.widget_page_panel_liner_5 {
	float:left;
}
.non_last {
	margin-right:3px;	
}
/* @group Activity Widgets */
.activity_widget_product, .activity_widget_blog, .activity_widget_product h6, .activity_widget_blog h6 {
	color:#666;
}
.activity_widget_product a, .activity_widget_blog a {
	color:#52cbba;
}
.activity_widget_product a:hover, .activity_widget_blog a:hover {
	color:#666;
}
.activity_widget_excerpt a {
	text-decoration:none;
	color:#666;
}


/* begin new styles*/

.public_widget_top .activity_widget {
	height:270px;
	background-color:#fff;
	overflow:hidden;
}
.public_widget_side .activity_widget {
	background-color:#fff;
	overflow:hidden;
}
.activity_widget .page_mask_1, .activity_widget .page_mask_2, .activity_widget .page_mask_3, .activity_widget .page_mask_4, .activity_widget .page_mask_5 {
	height:224px;
}
.activity_widget_product .widget_page_panel_liner {
	width:243px;
	padding:0;
	overflow:hidden;
}
.activity_widget_product_item {
	float:left;
	margin-right:12px;
	margin-left:12px;
	margin-bottom:22px;
}
.activity_widget_product_item a img {
	border-bottom:2px solid #fff;
}
.activity_widget_product_item a:hover img {
	border-bottom:2px solid #52cbba;
}
.activity_widget_blog .widget_page_panel_liner {
	width:243px;
	padding:0;
	overflow:hidden;
}
.activity_widget_blog_item {
	margin-bottom:22px;
	margin-left:12px;
	margin-right:12px;
}
.activity_widget_blog_item a {
	display:inline-table;
	width:216px;
	height:98px;
	padding:4px 6px;
	overflow:hidden;
	border-bottom:2px solid #fff;
	background-color:#e8e9d6;
}

.activity_widget_blog_item a:hover {
	background-color:#52cbba;
	color:#fff;
	border-bottom:1px solid #52cbba;
}

.activity_widget_blog_item a h6, .activity_widget_blog_item a h4, .activity_widget_blog_item a p {
	color:#666;
}

.activity_widget_blog_item a:hover h6, .activity_widget_blog_item a:hover h4, .activity_widget_blog_item a:hover p {
	color:#fff;
}
h4.activity_blog_title {
	font-size:18px;
	font-weight:normal;
	margin-top:6px;
	margin-bottom:0;
}
h6.activity_blog_user {
	font-size:11px;
	font-weight:normal;
}
p.activity_blog_date {
	margin-bottom:0;
}

/* @end */
/* @group Free Form Widgets */
	
.public_widget_top .freeform_widget {
	height:269px;
	border-top:1px solid #ccc;
	background-color:#fff;
	overflow:hidden;
}
.public_widget_side .freeform_widget {
	background-color:#fff;
	overflow:hidden;
}
.freeform_widget .page_mask_1, .freeform_widget .page_mask_2, .freeform_widget .page_mask_3, .freeform_widget .page_mask_4, .freeform_widget .page_mask_5 {
	height:248px;
}
.widget_page_panel_liner_1 {
	width:216px;
	padding:0 14px 0 13px;
}
.widget_page_panel_liner_2 {
	width:462px;
	padding:0 14px 0 13px;
}
.widget_page_panel_liner_3 {
	width:708px;
	padding:0 14px 0 13px;
}
.widget_page_panel_liner_4 {
	width:954px;
	padding:0 14px 0 13px;
}
.widget_freeform_text {
	color:#666;
	padding-top:4px;
	float:left;
	width:100%;
}
.widget_freeform_text a {
	color:#52cbba;
}
.widget_freeform_text a:hover {
	color:#666;
}
.widget_freeform_text a h1, .widget_freeform_text a h2, .widget_freeform_text a h3, .widget_freeform_text a h4, .widget_freeform_text a h5, .widget_freeform_text a h6, .widget_freeform_text a p {
	color:#52cbba;
}
.widget_freeform_text a:hover h1, .widget_freeform_text a:hover h2, .widget_freeform_text a:hover h3, .widget_freeform_text a:hover h4, .widget_freeform_text a:hover h5, .widget_freeform_text a:hover h6, .widget_freeform_text a:hover p {
	color:#666;
}
.widget_freeform_text h1, .widget_freeform_text h2, .widget_freeform_text h3, .widget_freeform_text h4, .widget_freeform_text h5, .widget_freeform_text h6, .widget_freeform_text p {
	margin-right:9px;
	color:#666;
}
/* @end */

/* @group Market Content Widgets */
.public_widget_top .market_content_widget {
	height:270px;
}
.public_widget_side .market_content_widget {
	background-color:#fff;
	overflow:hidden;
}
.market_content_widget .page_mask_1, .market_content_widget .page_mask_2, .market_content_widget .page_mask_3, .market_content_widget .page_mask_4, .market_content_widget .page_mask_5 {
	height:216px;
}
.market_content_widget .widget_page_panel_liner {
 	padding:0 12px 0 12px;
 	width:219px;
 	height:216px;
 	position:relative;
}
h4.market_content_title {
	margin-top:6px;
	font-size:16px;
	margin-bottom:0;
}
h4.market_content_title a, h6.market_content_user a {
	color:#52cbba;
}
h4.market_content_title a:hover, h6.market_content_user a:hover {
	color:#333;
}
img.market_content_image {
	float:left;
	background:#fff;
	border:1px solid #999;
	margin-right:9px;
	margin-top:6px;
}
p.market_content_excerpt, p.activity_blog_date {
	margin-top:6px;
}
h6.market_content_user {
	font-weight:normal;
	font-size:16px;
}
.market_content_widget .market_content_icons {
	position:absolute;
	left:6px;
	top:196px;
	height:20px;
	z-index:100;
	padding-left:6px;
}
.market_content_widget .market_content_icons a {
	margin-right:1px;
	padding:3px;
	background-color:#ddd;
	color:#666;
}
.market_content_widget .market_content_icons a:hover {
	background-color:#52cbba;
	color:#fff;
}
/* @end */


/* @end */
/* @group flash notices */

.flash_notice {
	padding:2px;
	text-align:center;
	margin:0 auto;
}

.flash_positive {
	background-color:#d6eda6;
	color:#00682d;
}

/* @end */

/* @group market collections */
.market_collections_header_wrapper {
	background-color:#52cbba;
	width: 100%;
	padding: 3px 0;
	color:#666;
	margin-bottom:18px;
}
.market_collections_header_wrapper a {
	color:#fff;
	padding:2px;
	text-decoration:none;
	font-family:verdana;
}
.market_collections_header_wrapper a:hover {
	color:#666;
	text-decoration:none;
}
.market_collection_intro_wrapper {
	margin-bottom:9px;
	float:left;
	height:280px;
}
.market_collection_title {
	width:100%;
	text-align:center;
	background-color:#52cbba;
	height:280px;
}
.market_collection_title h1 {
	padding-top:110px;
	color:#fff;
}
.market_collection_banner {
	float:left;
	margin-right:9px;
	width:483px;
}
.market_collection_descripton {
	width:483px;
	float:left;
}
/* @end */
/* @group curated commerce */
.footer .footer_lastline p.curated_commerce {
	font-family:arial;
	font-size:10px;
	color:#ccc;
	margin-top:2px;
}
p.curated_commerce a {
	color:#aaa;
}
/* @end */
/* @group cc_unit */
.cc_unit_1, .cc_unit_2, .cc_unit_3, .cc_unit_4{
	float:left;
	margin-right:9px;
	position:relative;
}
.cc_unit_1 {
	width: 237px;
}
.cc_unit_2 {
	width: 483px;
}
.cc_unit_3 {
	width: 729px;
}
.cc_unit_4 {
	width: 975px;margin-right:0;
}
/* @end */
/* @group frameless */
body.frameless {
	background-color: #fff;
	color: #666;
	text-align: center;
	font-family: arial, sans-serif; 
}
body.frameless div.dialog {
	width: 25em;
	padding: 4em 4em;
	margin: 4em auto 0 auto;
	border: 1px solid #ccc;
	border-right-color: #999;
	border-bottom-color: #999;
}
body.frameless h1 {
	font-size: 16px;
	color: #52cbba;
	line-height: 1.5em;
	font-family: georgia;
	margin-top: 18px;
}
body.frameless a {
	color: #52cbba;
}
/* @end */

/* @group external widget */

.product-widget {
	float: left;
	display: inline;
	margin-top: 9px;
	margin-left: 9px;
	border: 1px solid #eaeaea;
}

a .product-widget:hover {
	border: 1px solid #52CBBA;
}

div.external_widget_wrapper_1 {
	border: 0;
	margin: 0;
	padding-bottom: 9px;
	width: 113px;
	border: 1px solid #eaeaea;
}

div.external_widget_row_1 {
	height: 95px;
	border: 0;
	margin: 0;
	padding: 0;
}

div.external_widget_wrapper_2 {
	border: 0;
	margin: 0;
	padding-bottom: 9px;
	width: 217px;
	border: 1px solid #eaeaea;
}

div.external_widget_row_2 {
	height: 95px;
	border: 0;
	margin: 0;
	padding: 0;
}

#homelink {
}

.homelink_market {
	padding-left: 3px;
	display: block;
	margin: 5px 0 0 0;
}

.homelink_market a {
	text-decoration: none;
	color: #52CBBA;
	font-family: verdana;
	font-size: 13px;
}

.homelink_market a:hover {
	text-decoration: underline;
}

.homelink_seller {
	padding-left: 3px;
	display: block;
	margin: 1px 0 0 0;
}

.homelink_seller a {
	text-decoration: none;
	color: #666158;
	font-family: verdana;
	font-style: italic;
	font-size: 11px;
}

.homelink_seller a:hover {
	text-decoration: underline;
}

.widget_clear {
	clear: left;
}

.embedcode {
	font-family: courier, monospace;
	background-color: #FDFFD9;
	padding: 10px;
	margin-top: 10px;
}

iframe {
	border: none !important;
	border-style: none !important;
}


/* @end */