<div class="page">
	<div class="page_header">
		<div class="page_header_liner">
			<h1>You're Subscribed to the Felt &amp; Wire Shop Newsletter</h1>
		</div><!-- end . page_header_liner -->
	</div><!-- end . page_header -->
<div class="page_content">
	
	<p>But don't just wait for us to email you, <%= link_to 'continue exploring Felt &amp; Wire Shop', '/products' %>!</p>


	</div><!-- end . page_content -->
</div><!-- end . page -->