<div class="page">
	<div class="page_header">
		<div class="page_header_liner">
			<h1>Felt & Wire Shop Terms of Service</h1>
		</div><!-- end . page_header_liner -->
	</div><!-- end . page_header -->

	<div class="page_content">
		<h4>ACCEPTANCE</h4>

		<p>Mohawk Fine Papers Inc. (&quot;Mohawk&quot; or &quot;we&quot;) provide our Internet sites and the content, products and services offered on or through the sites MohawkPaper.com, MohawkPaperStore.com, MohawkMakeReady.com, FeltAndWire.com and FeltAndWireShop.com (collectively, the &quot;<strong>Services</strong>&quot;), to you subject to the following Terms of Service (&quot;<strong>TOS</strong>&quot;). Your use of the Services in whole or in part constitutes your binding acceptance of these TOS. If you do not agree to these TOS, you should not use the Services.</p>		
		
		<p>Some Services have additional posted rules, policies and terms. When you use those Services, you and Mohawk shall be subject to those additional conditions, which are incorporated by reference into these TOS (and, consequently, form part of your agreement with us). In the event of an inconsistency between these TOS and any additional posted conditions or separate usage terms, the provisions of the additional conditions shall control.</p>

		<p>We may modify all or any part of these TOS from time to time without notice to you. Your continued use of a given Service after changes to the TOS have been published on that Service constitutes your binding acceptance of the updated TOS. If at any time the TOS are no longer acceptable to you, you should immediately cease all use of the Services.</p>

		<h4>Description of Services</h4>

		<p>The Services have been created to support customers, distributors and the public with information, education, communication, and a sales channel for purchasing paper and related products. Not all products are available in all markets.</p>

		<p>The Services include a combination of content that we create and third-party content. In addition, some Services may provide you and other users with an opportunity to submit, post, display, transmit and/or exchange information, ideas, opinions, photographs, images, video, creative works or other information, messages, transmissions or material to us or others on or through that Service (collectively, the &quot;<strong>Postings</strong>&quot;).</p>

		<h4>General Rules of Conduct</h4>

		<p>Your use of the Services is subject to all applicable local, state, national and international laws and regulations, and you agree not to violate such laws and regulations. In addition, you agree that:</p>

		<ul>
			<li>you will not interfere with or disrupt the security measures of the Services;</li>
			<li>you will not interfere with or disrupt networks connected to the Services, and will comply with all regulations, policies and procedures of such networks.</li>
			<li>you will not use the Services to send or result in the transmission of harmful, illegal or offensive material, including but not limited to spam e-mail;</li>
			<li>you will not use the Services to impersonate any person or entity, harass or stalk any person, or otherwise violate any applicable local, state, national or international law.</li>
		</ul>

		<h4>Postings</h4>

		<p>Although we reserve the right to edit Postings prior to their inclusion on the Services, as a general matter Mohawk does not screen or monitor such content. Therefore, you understand that you are solely responsible for all Postings and other materials, whether publicly posted or privately transmitted, that are uploaded, posted, emailed, transmitted or otherwise made available from your email address on our through the Services. You further agree that your Postings will not violate these TOS. Specifically, you represent and warrant that your Postings will not contain any material that:</p>

		<ul>
			<li>is false, inaccurate, or misleading, or infringes any third party&rsquo;s copyright, patent, trademark, trade secret or other proprietary rights, or rights of publicity or privacy;</li>
			<li>violates a nondisclosure agreement, or violates any law or regulation (including, without limitation, those governing export control, unfair competition, or false advertising);</li>
			<li>is defamatory, constitutes trade libel or product disparagement, or is unlawfully threatening or harassing, or is obscene or contains child pornography; or</li>
			<li>contains viruses, Trojan horses, time bombs, worms, cancelbots, easter eggs or other computer programming routines that may damage or interfere with the operation of any system, or unlawfully intercept any data or personal information.</li>
		</ul>

		<p>You also agree that you will not interfere or attempt to interfere with the proper working of the Services, any activities conducted on or through the Services, or any networks through which you access the Services.</p>

		<p>In sum, Postings do not reflect the views of Mohawk and Mohawk does not verify, endorse, of vouch for any such content. We do, however, enforce these TOS, and if we determine in our sole discretion that any Posting is inaccurate, was posted without authorization, or otherwise does or may violate these TOS, we reserve the right, at any time, without prior notice and without limiting any and all other rights we may have, at law or in equity, to (a) modify, refuse or remove the Posting; (b) revoke the applicable user&rsquo;s right to use the Services; and/or (d) use any technological, legal, operational or other means available to Mohawk to enforce the provisions of these TOS, including, without limitation, blocking specific IP addresses or deactivating the applicable user&rsquo;s registration.</p>

		<p>Finally, you specifically grant to Mohawk and its affiliates and service providers (or warrant that the owner of such content grants to Mohawk and its affiliates and service providers) a perpetual, worldwide, royalty-free, irrevocable, nonexclusive right and license, sublicensable through multiple tiers, to do the following on and in connection with the Services and any third party sites and services:</p>

			<ul>
				<li>use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform and display all Postings submitted by you or through your account, in whole or in part; use, in whole or in part, your name, likeness, photograph, voice, company name, screen name, e-mail address and/or other identifying information submitted by you as part of or in connection with such Postings (&quot;Image&quot;), and reproduce, publish, create derivative works from, distribute, perform and display materials containing the same; and</li>
				<li>incorporate the Postings and the Image in other works in any form, media or technology now known or later developed throughout the universe, and reproduce, publish, display and otherwise distribute the same.</li>
			</ul>

			<p>For sake of clarity, by virtue of the above grant, you also give Mohawk and its affiliates permission to copy your Postings and the Image as part of the normal backup process and/or to archive discussions containing your Postings and/or the Image.</p>

		<h4>Copyright and Trademarks</h4>

		<p>All content and design on this site including site design, text, graphics, interfaces, and video, and their selection and arrangements, excluding any of your Postings, (individually and/or collectively, &quot;<strong>Material</strong>&quot;) is &copy; Mohawk Fine Papers Inc. Unless expressly noted, you may not reproduce, modify, create derivative works from, display, publicly perform, publish, or distribute any Material without the express written permission of Mohawk or the Material’s owner if Mohawk is not the owner. Requests to re-use content on the site should be direct to press@Mohawkpaper.com.</p>

		<p>Mohawk prohibits any form of data extraction or data mining, or other commercial exploitation of any kind. Likewise prohibited is the use of any robot, spider, or other automatic device, or manual process to monitor or copy our web pages or the content contained therein.</p>

		<p>All names, logos, service marks, brands, designs and trademarks displayed on the Services (the &quot;Marks&quot;) are the property of Mohawk Fine Papers Inc. or their respective owners. You may not remove, alter or use any Mark without the express written permission of Mohawk or the Mark’s respective owner.</p>

		<p>Notwithstanding the foregoing, we encourage you to link to or quote from the Material on the Services with appropriate attribution.</p>

		<h4>Forums</h4>

		<p>Some of our Services give users the opportunity to participate in Forums operated by Mohawk or by a third party. We ask that our users exercise appropriate caution when participating in any type of Forum. In particular, please remember that if you publicly disclose personal identifying information, such as your name or email address, in connection with a Forum, the information may be collected and used by others. You should also take reasonable precautions with regard to any material you download from or through Forums (for example, scanning for viruses or other damaging computer programming routines). Finally, you agree to use the Forums only to send and receive messages and material that are proper and related to that particular Forum.</p>

		<h4>Links to Third Party Sites</h4>

		<p>Mohawk provides links to third-party websites that we deem interesting, entertaining, useful, or educational. Such links do not imply endorsement of these sites. You agree that Mohawk is providing these links as a convenience to you and further agree that Mohawk is not responsible for the content on these sites.</p>

		<h4>Directories and Other Membership Listings</h4>

		<p>Some of our Services allow users to make some of their personal information (including, but not limited to, name, company affiliation and job title) available to other visitors as part of a membership directory or other listing for that Service. Please remember: If you do not want certain information to be available to other Service users, you should not include it in any membership directory listing. As with all other content on the Services, we reserve the right to refuse (or remove) listings in our sole discretion, and without prior notice, if we determine that they are inaccurate, were posted without authorization, or otherwise violate these TOS.</p>

		<h4>Promotions</h4>

		<p>Some of our Services may from time to time conduct promotions, including, but not limited to, auctions, contests and sweepstakes (&quot;Promotions&quot;). Each Promotion will have additional terms, conditions and rules which will be posted or otherwise made available to you and, for purposes of each Promotion in which you participate, will be deemed incorporated by reference into these TOS (and therefore a part of your agreement with Mohawk).</p>

		<h4>Registrations Obligations</h4>

		<p>Some of our Services require that you register with that Service in order to access or use it. If such registration is required, you agree that you will provide accurate information (such as your real name and a valid e-mail address) and will update your relevant information if it becomes outdated. If you provide any information that is, or that Mohawk in its reasonable discretion determines may be, untrue, inaccurate, not current or incomplete, Mohawk has the right, without prior notice, to suspend or terminate your account and refuse any and all current or future use of the Services (or any portion thereof). For more detailed information about how we treat the registration information you provide to us, please see our <a href="#privacy">Privacy Policy</a>, which is incorporated by reference into these TOS (and therefore a part of your agreement with us).</p>

		<h4>Passwords and Other Security Issues</h4>

		<p>If we issue you a password, you agree to help protect your information by guarding that password, and by changing it as soon as possible if you believe its security has been compromised. If Mohawk allows you to choose a username and you select, in Mohawk’s sole discretion, one that is obscene, indecent, abusive or which is otherwise objectionable, Mohawk has the right, without prior notice to you, to automatically change your username, delete your Postings under it, deny you access to the Services, or any combination of these options. You may not transfer your registration, password or user name to another person or share it with anyone. We will not be responsible for any loss or damage that may result if you fail to comply with these requirements. If you believe your information has been used without your authorization, you agree to notify Mohawk immediately. Phone: 800-543- 4776; customerservice@mohawkpaper.com.</p>

		<h4>Privacy Policy</h4>

		<p>Mohawk respects your privacy. Please see our <a href="#privacy">Privacy Policy</a> for important information and disclosures relating to the collection and use of your personally identifiable information in connection with your use of the Services.</p>

		<h4>Notice and Procedure for Making Claims of Copyright Infringement</h4>

		<p>If you believe in good faith that content you own has been copied and made accessible in a manner that violates your intellectual property rights, please provide Mohawk’s Copyright Agent the following information:</p>

		<ul id="" class="">
			<li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;</li>
			<li>a description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
			<li>a description of where the material that you claim is infringing is located on the site;</li>
			<li>youraddress,telephonenumber,andemailaddress;</li>
			<li>a statement by you that you have a good faith belief that the disputed use is not
authorized by the copyright owner, its agent, or the law;</li>
			<li>a statement by you, made under penalty of perjury, that the above information in
your notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner&rsquo;s behalf.</li>
		</ul>

		<p>Mohawk’s Agent for Notice of claims of copyright or other intellectual property infringement can be reached as follows:</p>

		<p>By mail:<br>
		Copyright Agent<br>
		c/o Mohawk Fine Papers<br>
		465 Saratoga Street<br>
		Cohies, NY 12047</p>

		<p>By phone: (518) 237-1740<br>
		By fax: (518) 237-7394<br>
		By email: copyright@mohawkpaper.com</p>

		<h4>Service Deactivation or Termination</h4>

		<p>Mohawk’s Agent for Notice of claims of copyright or other intellectual property infringement can be reached as follows:</p>

		<ul id="" class="">
			<li>Restrict, suspend or terminate your access to all or any part of our Services;</li>
			<li>Refuse, move or remove for any reason any material that you submit on or
through the Services;</li>
			<li>Refuse, move, or remove any content that is available on or through the Services;</li>
			<li>Deactivate or delete your accounts and all related information and files in your account;</li>
			<li>Establish general practices and limits concerning use of the Services.</li>
		</ul><!-- / -->

		<p>We may take any of the above actions for any legitimate business reason, as determined by Mohawk in its sole discretion, including, but not be limited to, (a) breaches or violations of the TOS or other incorporated agreements or guidelines, (b) requests by law enforcement or other government agencies, (c) a request by you, (d) discontinuance or material modification to the Services (or any part thereof), and (e) unexpected technical or security issues or problems. You agree that we will not be liable to you or any third party for taking any of these actions.</p>

			<h4>Indemnification</h4>

			<p>You hereby agree to indemnify, defend and hold Mohawk, its subsidiaries, parent corporation and affiliates, and all of their respective officers, directors, owners, employees, agents, licensors, representatives, licensors and suppliers (collectively, the &quot;<strong>Mohawk Parties</strong>&quot;), harmless from and against any and all liability, losses, expenses, damages and costs (including attorneys&rsquo; fees), incurred by any Mohawk Party in connection with any claim arising out of your use of the Services, any use or alleged use of your accounts or your passwords by any person, whether or not authorized by you, the content you submit, post, transmit or make available through the Services, your violation of these TOS, or your violation of the rights of any other person or entity.</p>

			<h4>Disclaimers of Warranties</h4>

			<p>THE SERVICES, AND MATERIALS, PRODUCTS AND POSTINGS ARE MADE AVAILABLE ON AN &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; BASIS, WITHOUT ANY REPRESENTATION, PROMISE OR WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, OR ANY GUARANTY OR ASSURANCE THE SERVICES WILL BE AVAILABLE FOR USE, OR UNINTERRUPTED OR ERROR FREE, OR THAT ALL PRODUCTS, FEATURES, FUNCTIONS OR OPERATIONS WILL BE AVAILABLE OR PERFORM AS DESCRIBED OR THAT ANY ERRORS WILL BE CORRECTED. IN ADDITION, ANY MATERIAL THAT YOU DOWNLOAD OR OTHERWISE OBTAIN THROUGH OUR SERVICES IS DONE AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY POTENTIAL DAMAGES TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM YOUR DOWNLOAD OF ANY SUCH MATERIAL.</p>

			<p>Without limiting the foregoing, Mohawk is not responsible or liable for any malicious code, delays, inaccuracies, errors, or omissions arising out of your use of the Services. As between you and Mohawk, you are assuming the entire risk as to the quality, accuracy, performance, timeliness, adequacy, completeness, correctness, authenticity, security and validity of any and all features and functions of the Services, including, without limitation, postings and materials associated with your use of the Services. Under no circumstances shall any Mohawk Party be liable for any loss or damage caused by your reliance on information obtained through the Services. It is your responsibility to evaluate the information, opinion, advice, or other content available through the Services.</p>

			<h4>Limitation of Liability</h4>

			<p>IN NO EVENT SHALL ANY MOHAWK PARTY BE LIABLE TO YOU OR ANY OTHER PERSON OR ENTITY, UNDER ANY THEORY, INCLUDING NEGLIGENCE, FOR DAMAGES OF ANY KIND ARISING FROM THE USE OF THE SERVICES, INCLUDING BUT NOT LIMITED TO DIRECT, INDIRECT, ACTUAL, INCIDENTAL, PUNITIVE, SPECIAL OR CONSEQUENTIAL DAMAGES, LOST INCOME, REVENUE OR PROFITS, LOST OR DAMAGED DATA, OR OTHER COMMERCIAL OR ECONOMIC LOSS, THAT RESULT FROM YOUR USE OF, OR INABILITY TO USE, THE SERVICES, EVEN IF SUCH MOHAWK PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR SUCH DAMAGES ARE FORESEEABLE. BY USING THE SERVICES, YOU AGREE THAT THIS LIMITATION WILL APPLY TO ANY MERCHANDISE, SERVICES, AND CONTENT THAT MAY BE AVAILABLE THROUGH SUCH SERVICES. IN THE EVENT THAT APPLICABLE LAW DOES NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR DAMAGES, YOU AGREE THAT IN NO EVENT SHALL THE TOTAL LIABILITY OF ANY MOHAWK PARTY TO YOU FOR ALL DAMAGES, LOSSES AND CAUSES OF ACTION OF ANY KIND EXCEED ONE HUNDRED DOLLARS ($100.00). Notwithstanding any claim that a sole or exclusive remedy which is provided in this agreement may or does fail of its essential purpose, you specifically acknowledge and agree that your sole and exclusive remedy for any loss or damage shall be to have Mohawk, upon written notice from you to us, attempt to repair, correct or replace any deficient Service and, if repair, correction or replacement is not reasonably commercially practicable for Mohawk, in its sole discretion, to refund any monies actually paid by you for the Service involved and to terminate and discontinue your use of the Services.</p>

			<h4>Miscellaneous</h4>

			<p><em>Entire Agreement</em>. These TOS, including the policies referred to in these TOS, constitute the entire agreement between you and Mohawk and govern your use of the Services, superceding any prior agreements between you and Mohawk. As noted above, you also may be subject to additional terms and conditions that may apply when you use or purchase certain other Mohawk services, affiliate services, third-party content or third-party software. These TOS cannot be changed or terminated orally. Notice. We may be required by state or federal law to notify you of certain events. You hereby acknowledge and consent that such notices will be effective upon our posting them on or through the Services or delivering them to you through email. You may update your email address by visiting the Services where you have provided contact information. If you do not provide us with accurate information, we cannot be held liable if we fail to notify you. You have the right to request that we provide such notices to you in paper format, and may do so by contacting the General Counsel, Mohawk Media LLC, 600 Community Drive, Manhasset, New York 11030. If you are a California resident, you may have this same information emailed to you by sending a letter to the foregoing address with your email address and a request for this information.</p>

			<p><em>Assignment</em>. You agree that the TOS may be automatically assigned, in whole or in part, by Mohawk or its affiliate to a third party, in our sole discretion, in connection with a merger, acquisition, reorganization or sale of substantially all of our assets, in whole or in part.</p>

			<p><em>Choice of Law and Forum</em>. The formation, construction and interpretation of this agreement shall be controlled by the laws of the State of New York, giving no effect to choice of law provisions. The U.N. Convention of Contracts for the International Sale of Goods is expressly excluded from any interpretation of this Agreement. Any dispute relating to this agreement shall be subject to the exclusive jurisdiction of the state and federal courts in New York, New York, U.S.A., and the parties agree to submit to the personal and exclusive jurisdiction of these courts.</p>

			<p><em>No Third Party Beneficiaries</em>. You agree that, except as otherwise expressly provided in this TOS, there shall be no third party beneficiaries to this Agreement.</p>

			<p><em>Waiver and Severability of Terms</em>Waiver and Severability of Terms. The failure of Mohawk to exercise or enforce any right or provision of the TOS shall not constitute a waiver of such right or provision. If any provision of the TOS is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties&rsquo; intentions as reflected in the provision, and the other provisions of the TOS remain in full force and effect.</p>

			<p><em>Statute of Limitations</em>. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or the TOS must be filed within one (1) year after such claim or cause of action arose or be forever barred.</p>

			<h4>ADDITIONAL TERMS OF SERVICE FOR FELT AND WIRE SHOP</h4>

			<p>By using the Feltandwireshop.com website (&quot;Felt and Wire Shop&quot;), a service of Mohawk Fine Papers (&quot;Mohawk&quot;), you are agreeing to be bound by the Mohawk’s Terms of Service, and the following additional terms and conditions:</p>

			<h4>Description of Service</h4>

			<p>Felt and Wire Shop is a service platform offered by Mohawk Fine Papers that strives to provide an efficient online mechanism for buyers to directly enter into transactions to purchase products promoted on and through the Website by sellers (each, a &quot;Product&quot;). Unless otherwise specified, Mohawk is neither a party to any negotiation or transaction between any buyer or seller nor a wholesaler, seller, shipper, or manufacturer of any Product.</p>

			<p>Mohawk has no control over descriptions, prices, conditions of sale, quality, safety or legality of any of the Products offered for sale through non-Mohawk storefronts on the website; the truth or accuracy of any listing; the ability of sellers to provide items; or the ability of buyers to pay for items. Mohawk cannot ensure that any buyer or seller will actually complete any transaction or that any product meets the specifications or requirements of any buyer. Buyers and sellers accessing the site or entering into any transaction do so at their own risk and are solely responsible for all fees, taxes and expenses which may be incurred through use of the Website and the purchase and sale of any Products. As used herein, &quot;you&quot; refers any visitor to the Felt and Wire Shop, buyers and sellers as well as any prospective buyer or seller accessing the website for any reason.</p>

				<h4>Eligibility</h4>

				<p>Felt and Wire Shop is available only to, and may only be used by, individuals and entities who/which can form legally binding contracts under applicable law. These services are not available to minors (persons under the age of 18) or temporarily or indefinitely suspended Felt and Wire Shop members. If you are a under the age of 18, you can use this service only in conjunction with, and under the supervision of your parents or guardians. If you do not qualify, please do not use Felt and Wire Shop.</p>

					<h4>Fees and Services</h4>

				<p>Joining and setting up a shop on Felt and Wire Shop is free. Our Fees and Credits Policy is incorporated into this Agreement by reference. Felt and Wire Shop’s Fees and Credits Policy and the fees for Mohawk’s services are subject to change without notice and shall become effective 5 days following posting of such change on the Website. Fees for Felt and Wire Shop’s services for promotional events shall be effective when we post any such temporary promotional event on the Website. Mohawk may, in our sole discretion, change some or all of Felt and Wire Shop’s services at any time. In the event Mohawk introduces a new service, the fees for that service are effective upon the launch of such service. Unless stated otherwise, all fees shall be payable in United States Dollars (&quot;USD&quot;). You are responsible for paying all taxes, charges, and fees associated with your purchase or sale of any Product and your use of the Website for any reason.</p>

				<h4>Identity Verification</h4>
				<p>We may use various techniques to verify the accuracy of any information provided by users to Felt and Wire Shop upon registration. However, Mohawk does not vouch for or confirm the identity of any user. We encourage you to communicate directly with potential transaction partners through the tools available on the Website.</p>
								<h4>Billing</h4>
				<p>Each seller on the Website is responsible for paying Mohawk fees it incurs, and each seller shall be required to provide accurate, up-to-date credit card information to us, which we will retain in our files. The Company will charge each seller’s credit card the amount due on his, her or its account no less frequently than monthly. If a seller’s account becomes delinquent for any reason, the Company shall be entitled to charge interest on any amounts due at the prime interest rate plus 2%. Furthermore, Company shall be entitled to all of its costs of collection of any unpaid amounts, including the reasonable fees of its attorneys.</p>
				<p>If you have a question, email help@feltandwireshop.com.</p>

				<h4>Listing and Selling</h4>

				<h4>Listing Description</h4>
				<p>You must be legally authorized to sell the item(s) that you list for sale on the Website and each of your listings shall include only text descriptions, graphics, pictures and other Content relevant to the sale of such item. All listed items must be listed in the appropriate category and must accurately and completely describe the item/items for sale in such listing.</p>


				<h4>Shop Policies:</h4>
<p>A seller must abide by all of Felt and Wire Shop policies and the seller&rsquo;s own individual shop policies and sell and the item as described. Likewise, a seller must abide by the seller&rsquo;s own individual policies when dealing other issues, for example, issues of damage and returns.</p>
<p>All sellers are urged to outline specific shop policies in their Shop Announcement and Seller Profile for their Felt and Wire Shop. Policies may include, for example shipping rates, returns, payment and selling policies. Sellers must create these policies in good faith and must abide by such policies. Mohawk reserves the right to require any seller to modify its policies, and any seller’s failure to modify any policy within 3 days following written notice by us shall constitute a material breach of these Terms of Use.</p>

<h4>Binding Sale:</h4>

<p>All sales are binding. If you, as a seller, receive an order from a buyer, you are obligated to complete the transaction with the buyer in a prompt manner, unless there is an exceptional circumstance. Mohawk shall not be responsible for the failure of any party to complete any transaction.</p>

<h4>Termination:</h4>
<p>Without limiting any other remedies available to Company, Mohawk, without notice, may suspend or terminate your account if Mohawk suspects, in its sole discretion, that you (by information, investigation, conviction, settlement, insurance or escrow investigation, or otherwise) have violated any of the Felt and Wire Shop policies set out in this Agreement, the <a href="#privacy">Privacy Policy</a>, or any Guidelines, or you have engaged in an improper or fraudulent activity in connection with Mohawk or any user.
<h4>Manipulation:</h4>
<p>The price stated in each Product description must be an accurate representation of the value of such item. &quot;Manipulation&quot; refers to activities whereby the price no longer accurately represents the monetary value of the transaction. Neither buyer nor seller may manipulate the price of any item for any reason. Further, neither buyer nor seller may interfere with any other member&rsquo;s listings or transactions.</p>
<h4>Notice to Sellers:</h4>
<p>You warrant and agree that all information that you submit is true, current and accurate (including without limitation, your credit card number, expiration date and security code), and you shall pay all charges or fees due to Mohawk hereunder, including all applicable taxes, in accordance with the Fees and Credits Policy in effect at the time the charges or fees became payable. You must provide Mohawk with valid credit card information. If your credit card is not valid, or if your credit card can not be processed at the time that any charge becomes due, we reserve the right to immediately terminate or suspend your access to the Website, thereby terminating this Agreement and all of Mohawk’s obligations hereunder and to charge you an administrative processing fee equal to 5% of the total billable amount. You shall be responsible for all of Mohawk’s costs of collecting any unpaid amounts including, without limitation, the reasonable fees of our attorneys.</p>
<p>Prohibited, Questionable and Infringing Items:</p>
<p>&quot;Your Information&quot; means as any information you provide via Felt and Wire Shop or to any sellers or users through the selling or buying items or through the registration or listing process, and information posted by you in any public message area (including the Forums or comments areas) or through any email feature. You are solely responsible for Your Information, and Mohawk acts as a passive conduit for the online distribution and publication of Your Information.</p>
<p>&quot;Your Activities&quot; include, for example, listing items, posting comments in any public message area (including the Forums or comments), messages, and email.</p>
<p>Your Activities which result in Your Information (or any items listed) on Felt and Wire Shop shall not:</p>

<ul>
	<li>be false, inaccurate or misleading;</li>
	<li>be fraudulent or involve the sale of illegal, counterfeit, or stolen items;</li>
	<li>infringe upon any third party&rsquo;s copyright, patent, trademark, trade secret or other proprietary or intellectual property rights or rights of publicity or privacy;</li>
	<li>violate any law, statute, ordinance or regulation (including, but not limited to, those governing export control, consumer protection, unfair competition, anti- discrimination or false advertising); Mohawk also does not permit the listing of items that have been identified by the U.S. Consumer Products Safety Commission (CPSC) as hazardous to consumers and therefore subject to a recall;</li>
	<li>be defamatory, trade libelous, unlawfully threatening or unlawfully harassing;</li>
	<li>be obscene or contain child pornography;</li>
	<li>contain any viruses, Trojan horses, worms, time bombs, cancelbots, easter eggs or other computer programming routines that may damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information;</li>
	<li>create liability for us or cause us to lose (in whole or in part) the services of our ISPs or other suppliers; and</li>
	<li>link directly or indirectly to or include descriptions of goods or services that</li>
	<ul>
		<li>are prohibited under these Terms of Service, the <a href="#privacy">Privacy Policy</a>, or Guidelines
posted on Felt and Wire Shop;</li>
		<li>are identical to other items you have for sale but are priced lower; or</li>
		<li>you do not have a right to link to or include.</li>
		
	</ul><!-- / -->
</ul><!-- / -->

<p>Furthermore, you may not list any item on Felt and Wire Shop (or consummate any transaction that was initiated using our service) that, by paying us a subscription fee or the final value fee, could cause us to violate any applicable law, statute, ordinance or regulation, or that violates these Terms of Service.</p>

<h4>License</h4>

<p>Solely to enable Mohawk to use the information you supply us with, so that Mohawk is not violating any rights you might have in Your Information, by posting Your Information on the Website, you thereby grant Mohawk a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sublicensable (through one or multiple tiers) right to use, copy, license, sublicense, adapt, distribute, display, publicly perform, reproduce, transmit, modify, and edit any of Your Information which you may provide, in any media now known or not currently known. You hereby waive all rights to any claim against the Company for any alleged or actual infringements of any intellectual property rights, proprietary rights, rights of privacy and publicity, moral rights, and rights of attribution in connection with Your Information. By submitting Your Information, you represent to the Company that such content is original, you are its rightful owner or that you have first obtained permission from the rightful owner to submit it, and that you have the authority to assign or license to the Company all rights, title and interest as set forth herein in and to Your Information. You acknowledge that the Company has detrimentally relied upon this representation. Accordingly, you further agree to defend, hold harmless and indemnify the Company from and against any and all claims of alleged or actual infringements of any intellectual property rights, proprietary rights, rights of privacy and publicity, moral rights, and rights of attribution raised by third parties against the Company in connection with Your Information.</p>
<p>Notwithstanding anything herein to the contrary, Mohawk will only use Your Information in accordance with Mohawk’s <a href="#privacy">Privacy Policy</a>.</p>

<h4>Access and Interference</h4>
<p>Felt and Wire Shop may contain robot exclusion headers. Much of the information on Felt and Wire Shop is updated on a real time basis and is proprietary or is licensed to Mohawk by Felt and Wire Shop users or third parties. You agree that you will not use any robot, spider, scraper or other automated means to access Felt and Wire Shop for any purpose without our prior express written permission. Additionally, you agree that you will not: (i) take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on our infrastructure; (ii) copy, reproduce, modify, create derivative works from, distribute or publicly display any content (except for Your Information, or other allowed uses) from the Website without the prior expressed written permission of Mohawk and the appropriate third party, as applicable; (iii) interfere or attempt to interfere with the proper working of the Website or any activities conducted on the Site; or (iv) bypass our robot exclusion headers or other measures we may use to prevent or restrict access to Felt and Wire Shop.</p>

<h4>Availability</h4>
<p>Not all of the products and services offered through the Website are available in all geographic areas, and we reserve the right to restrict any user from purchasing any product made available through the Website at any time, without notice. The information provided on the Website is not directed at, or intended for distribution to, or use by, any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation, or any non-United States jurisdiction or country that would subject Company or its affiliates to any registration requirement within such jurisdiction or country.</p>

<h4>Resolution of Disputes</h4>

<p>Mohawk’s goal with Feltandwireshop.com is to help you make sales and be happy. In the event a dispute arises between you and Felt and Wire Shop, email Felt and Wire Shop at help@feltandwireshop.com and we will work quickly towards a solution. We encourage you to report all user-to-user disputes to your local law enforcement, postmaster general, or a certified mediation or arbitration entity.</p>
<p>Disputes between you and Mohawk regarding Mohawk’s services may be reported to Customer Support by emailing help@feltandwireshop.com.</p>
<p>The services hereunder are offered by Mohawk Fine Papers Inc., 465 Saratoga Street, Cohoes, NY 12047. You may have this same information emailed to you by sending a letter to the foregoing address with your email address and a request for this information.

<p><strong>This Agreement is effective upon your first use of the Website.</strong></p>

<p>Terms of Service update: 3/8/2012</p>

	</div><!-- end . page_content -->

</div><!-- end . page -->

<div class="page">
  <div class="page_header">
    <div class="page_header_liner">
      <h1><a name="privacy">Felt & Wire Shop Privacy Policy</a></h1>
    </div><!-- end . page_header_liner -->
  </div><!-- end . page_header -->

  <div class="page_content">

        <p>Mohawk Fine Papers Inc. (&ldquo;Mohawk&rdquo;) is committed to protecting the privacy of our customers and the users of our sites. You may access our websites without providing any contact details or other personally identifiable information ("Personal Information").  We strive to make sure that any Personal Information that you do provide to us is protected and secure.  Our privacy policy tells you how we treat the information about you that we receive through the websites owned and operated by Mohawk. </p>

        <h4>The Personal Information We Collect and How We Use It</h4>   

    <p>Mohawk collects your Personal Information when you send us a message, register with us, or engage in sales transactions.  Your Personal Information will only be used for the purpose for which you have provided it, and to send you occasional emails at your request with additional information such as newsletters, promotional communications, or email notices advising you of changes to our website.  It will not be supplied to any other organization or used for any other purpose without your consent.  Specifically, Mohawk collects your Personal Information on the Mohawk websites as follows:</p>


     <h4>Registration with Mohawk</h4>   

    <p>We offer voluntary opt-in registration to improve your site experience and offer content that is more relevant to your business needs. Certain transactional sections of the site may also require registration. Registration information includes your name, address, city, state, zip code, phone number, e-mail address, job title, employer, password, and user name.  Passwords are stored with a third party and are encrypted.  The remaining collected Personal Information is maintained by Mohawk, and we make reasonable efforts to ensure the accuracy and security of such information. 
    </p>

        
     <h4>Sales Transactions</h4>   


    <p>We request credit card information for sales transactions. For security reasons, we do not retain credit card information in our files. Credit card numbers are stored with a third party and are encrypted in accordance with PCI compliance laws.  In addition, certain types of customers are required to supply more information to verify credit status or business type. This includes VIP printers, paper distributors, and other direct accounts.</p>

        
     <h4>E-mail and direct mail</h4>   

    <p>Customers have the ability to &ldquo;opt in&rdquo; to Mohawk e-mail and print communications to receive additional information, such as product announcements, promotional information, special offers, product sampling opportunities and research requests from us. If you do so, we may ask for contact information, such as your name, mailing address, e-mail address, and phone number.  We use this information in the same manner as we use contact information in the registration process described above. We do not sell or rent our e-mail lists.</p>
        
     <h4>Contacting Mohawk</h4>   

    <p>If you choose to contact Mohawk through the website, we will collect the data you provide to us voluntarily on the contact submission form, which includes your name and email address.  We will use this information to respond to your inquiry.   </p>
        
     <h4>Opting In and Opting Out</h4>   

    <p>Customers have the ability to &ldquo;opt in&rdquo; to Mohawk e-mail and print communications to receive additional information, such as product announcements, promotional information, special offers, product sampling opportunities and research requests from us. These preferences can be managed online at mohawkconnects.com in your account settings if you are a registered user. In addition, all users may opt out of receiving such email communications by following the instructions included in each communication or by emailing us at customerservice@mohawkpaper.com</p>
     
     <p>Please note that we will endeavor to implement your opt-out requests within a reasonable time, although for a short time you may continue to receive the email newsletter(s) to which you have subscribed based on information released prior to the implementation of your request.  Please also note that after your request is implemented, you may continue to receive information directly related to any online transactions you make through the websites. </p>

     <h4>Tracking and Cookies</h4>   

    <p>When you look at our websites, we make a record of your visit and log the following non-personal information from you:  your IP address, your top level domain name (for example, .com, .gov, .au, .uk etc.), the pages you accessed and documents downloaded, the previous site you have visited, and the type of browser you are using.  We use this information, which does not identify individual users, to analyze trends, administer the site, understand user behavior and aggregate broad demographic information.  </p>
        
    <p>Mohawk, in common with most website operators, may use standard technology called &lsquo;cookies&rsquo; on our site. Cookies are small data files that are downloaded onto your computer when you visit a website that improve the user&rsquo;s experience such as managing user authentication, identification of user sessions, and managing a user&rsquo;s browsing and shopping cart preferences. Cookies cannot carry viruses and cannot install malware on the user&rsquo;s computer. You may disable cookies by turning them off in your browser, although some parts of the site may not function properly if you do so.</p>    
     
     <h4>Disclosure of Personal Information</h4>   



    <p>Mohawk will not disclose Personal Information that you provide on this website to any third parties other than to a Mohawk agent, except in the following circumstances:  (i) as set forth above, (ii) in response to a subpoena or when we are required to do so by law, for example, in response to a court order or other legal obligation; (iii) in response to a law enforcement agency&rsquo;s request; (iv) to protect the security or confidentiality of our records; (v) in special cases when we have reason to believe that disclosing this information is necessary to identify, contact, or bring legal action against someone who may be causing injury to or interference with our rights, or (vi) in the event Mohawk goes through a reorganization (e.g., a merger into another organization), in which case you will be notified via a prominent notice on the website of any such transfer of your Personal Information.</p>
        
     <h4>Our Commitment to Data Security</h4>   

    <p>This site incorporates reasonable and appropriate safeguards using industry standard technology to heighten the security, accuracy and privacy of any personal information we have collected, and we have put in place reasonable precautions to protect information from loss and misuse. Our security and privacy policies are periodically reviewed and enhanced as required.</p>
        
     <h4>Our Commitment to Children&rsquo;s Privacy</h4>   

    <p>We recognize the importance of protecting the privacy of children on the web and will never collect or maintain information at our websites from those we actually know are under 13 years old. No part of our websites is directed at children under the age of 13. 
    </p>
        
     <h4>Links to Other Websites</h4>   

    <p>Our websites contain links to other sites. Mohawk is not responsible for the privacy practices or content of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of each web site to which we may link that may collect personally identifiable information. 
    </p>
        
     <h4>Correcting or Updating Your Information </h4>   

    <p>To unsubscribe or to change your personal details or subscription choices, please click here, to log in and go to your account settings , or click inside any e-mail communication from us to &ldquo;manage your preferences.&rdquo; You can also send an e-mail to unsubscribe@mohawkpaper.com to be opted out of all marketing communications. 
    Felt and Wire Shop customers can unsubscribe by e-mailing help@feltandwireshop.com.  
    </p>
        
     <h4>Changes to This Privacy Policy</h4>   

    <p>Mohawk reserves the right to modify or supplement this policy at any time. If a material change to this policy is made, Mohawk Fine Papers Inc. will post a notice on its home page, and any changes to the policy will be posted on this page. If you have additional questions regarding security you can e-mail customerservice@mohawkpaper.com
    </p>
        
     <h4>Questions</h4>   

    <p>If you have any questions about our privacy statement or the practices of this site, please contact us at customerservice@mohawkpaper.com.</p>
        
    <p>Privacy Policy update: 4/2/2012</p>

  </div><!-- end . page_content -->

</div><!-- end . page -->


