<!-- public layout footer -->

<div class="span-24 last">
	<ul class="market_nav">
		<li><%= link_to 'products', '/products', :class => (@nav_tab == 'products') ? 'selected' : '' %></li>
		<li><%= link_to 'sellers', '/sellers', :class => (@nav_tab == 'sellers') ? 'selected' : '' %></li>
		<li><%= link_to 'blog', '/blog_posts', :class => (@nav_tab == 'blog_posts') ? 'selected' : '' %></li>
	</ul>
</div>