<!-- MARKET COLLECTIONS HEADER -->
<div class="market_collections_header_wrapper">
	<div class="container">
		<div class=".collection_header_explore">
			<%= link_to MARKET_COLLECTION_HEADER_TEXT, '/' %>
		</div>
	</div><!-- end .container -->
</div><!-- end .market_collections_header_wrapper -->